<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    
    <!-- Cấu hình trang lỗi 404 -->
    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>

    <!-- Cấu hình trang lỗi 500 -->
    <error-page>
        <error-code>500</error-code>
        <location>/error_page.jsp</location>
    </error-page>

    <!-- Cấu hình trang lỗi 403 -->
    <error-page>
        <error-code>403</error-code>
        <location>/error_page.jsp</location>
    </error-page>
   
   <security-constraint>
    <web-resource-collection>
        <web-resource-name>Block Direct JSP Access</web-resource-name>
        <description>Prevent users from directly accessing register.jsp</description>
        <url-pattern>/register.jsp</url-pattern> 
        <url-pattern>/service-dashboard.jsp</url-pattern> 
        <url-pattern>/edit-service.jsp</url-pattern> 
    </web-resource-collection>
    <auth-constraint>
        </auth-constraint>
</security-constraint>
</web-app>
